<div class="page settings settings-is-hidden">
	<h1>Settings</h1>

	<section>
		<h1 class="settings-title">エディタ設定</h1>

		<p><small>※設定を反映させるには再起動が必要です</small></p>

		<table class="settings-table">
			<tr class="settings-indent">
				<th>インデント</th>
				<td>
					<select name="" id="" v-on:change="changeIndent" v-model="indent_type">
						<option value="tabs">Tabs</option>
						<option value="spaces">Spaces</option>
					</select>

					<select name="" id="" v-on:change="changeIndent" v-model="indent_width">
						<option value="2">2 Spaces</option>
						<option value="4">4 Spaces</option>
					</select>
				</td>
			</tr>

			<tr>
				<th>ルートディレクトリ</th>
				<td><input size="30" v-model="root_dir" class="settings-detault-path" readonly><button class="settings-default-path-button" v-on:click="selectPath">パスを選択</button></td>
			</tr>
		</table>

	</section>
</div>
