<div class="page settings settings-is-hidden">
	<h1>Settings</h1>

	<section>
		<h1 class="settings-title">エディタ設定</h1>
		<table class="settings-table">
			<tr>
				<th>インデント</th>
				<td>
					<select name="" id="">
						<option value="tab" selected="selected">Tabs</option>
						<option value="spaces">Spaces</option>
					</select>

					<select name="" id="">
						<option value="2">2 Spaces</option>
						<option value="4" selected="selected">4 Spaces</option>
					</select>
				</td>
			</tr>

			<tr>
				<th>ルートディレクトリ</th>
				<td><input size="30" value="/Users/potato4d/Desktop/" class="settings-detault-path" readonly><button class="settings-default-path-button">パスを選択</button></td>
			</tr>
		</table>
	</section>
</div>
