.page.settings{
	display: block;
	pointer-events: all;

	position: absolute;
	left: 0;
	top: 0;

	z-index: 1000;

	padding: 25px 20px 30px;

	width: calc(100% - 40px);
	height: calc(100vh - 55px);
	font-weight: 500;

	color: #999;
	background: #fff;

	opacity: 1.0;

	// transition: all 0.2s ease-out;

	&.settings-is-hidden{
		left: 25px;
		top: 25px;
		pointer-events: none;

		width: calc(100% - 90px);
		height: calc(100vh - 105px);
		opacity: 0.0;
	}

	.settings-title{
		margin: 30px 0  10px;
		font-size: 22px;
	}

	select{
	    -webkit-appearance: none;
	    width: auto;
	    padding: 5px 20px 5px 5px;
	    border-radius: 2px;
		background: linear-gradient(#F5F5F5, #E2E2E2);
		position: relative;
		outline: #0000ff;
	}
}
